@import "./lib/main.css";

html {
  /* font-sans */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
  margin: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

kbd {
  display: inline-block;
  border: 1px solid gray;
  margin: .25rem 0;
  padding: .25rem .5rem;
  border-radius: .25rem;
  font-family: inherit;
  font-size: .75rem;
  line-height: 1;
  box-shadow: 2px 2px 0 darkred;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

dd {
  margin: 0;
}
.help {
  padding: 0 .5rem;
  background-color: #19202f;
  color: rgba(209, 213, 219, 1);
}
.help dl {
  display: flex;
  align-items: baseline;
  border-top: 1px dotted rgba(107, 114, 128, .75);
}
.help h2 {
  text-decoration: underline;
  margin-bottom: 0;
}
.help dd,
.help dt {
  margin: .5rem .5rem .5rem 0;
  flex: 1;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

:root {
  --gray-300: rgba(209, 213, 219, 1);
  --gray-700: rgba(55, 65, 81, 1);
  --gray-800: rgba(31,41,55,1);
  --gray-900: rgba(17, 24, 39, 1);
  --matte-black: rgba(14, 19, 31, 1);
  --blue-500: rgba(59, 130, 246, 1);
  --pink-400: rgba(244, 114, 182, 1);
  --indigo-400: rgba(129, 140, 248, 1);
  color-scheme: dark;
}

#fmodel [role="tree"] {
  --tree-min-width: 374px;
  --tree-bg-color: var(--gray-900);
  --tree-color: var(--gray-300);

  --item-root-bg-color: var(--matte-black);
  --item-selected-bg-color: midnightblue;
  --item-selected-border-color: var(--blue-500);
  --item-selected-header-bg-color: var(--gray-700);

  --key-color: var(--gray-300);
  --type-color: var(--pink-400);
  --ref-color: var(--indigo-400);
}

#project [role="tree"] {
  --tree-min-width: 187px;
  --tree-bg-color: var(--gray-900);
  --tree-color: var(--gray-300);

  --item-selected-bg-color: midnightblue;
  --item-selected-border-color: var(--blue-500);
  --item-selected-header-bg-color: var(--gray-700);

  --key-color: var(--gray-300);
  --type-color: var(--pink-400);
  --ref-color: var(--indigo-400);
}
